:root {
    // Dark-mode colors taken from Modus Themes
    // https://protesilaos.com/emacs/modus-themes
    --bg-main: #141617;
    --bg-dim: #121212;
    --fg-main: #ffffff;
    --border: #646464;
    --fg-link: #79a8ff;
    --fg-link-visited: #feacd0;
    --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%2379a8ff'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
    --bg-button-active: #535353;
    --bg-button-inactive: #1e1e1e;
    --fringe: #1e1e1e;
    // Syntax highlighting.
    --bracket: #ffffff; // fg
    --builtin: #f78fe7; // fg
    --comment: #989898; // fg
    --constant: #00bcff; // fg
    --delimiter: #ffffff; // fg
    --doc-string: #9ac8e0; // fg
    --doc-markup: #caa6df; // fg
    --function-name: #feacd0; // fg
    --keyword: #b6a0ff; // fg
    --number: #ffffff; // fg
    --operator: #ffffff; // fg
    --preprocessor: #ff7f86; // fg
    --punctuation: #ffffff; // fg
    --regex-grouping-backslash: #feacd0; // fg
    --regex-grouping-construct: #00c06f; // fg
    --string: #79a8ff; // fg
    --type: #6ae4b9; // fg
    --variable-name: #00d3d0; // fg
    --warning: #fec43f; // fg
    --error: #ff5f59; // fg
    --identifier: #d2b580; // fg
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-main: #fdfdfd;
        --bg-dim: #efefef;
        --fg-main: #000000;
        --border: #888899;
        --fg-link: #3548cf;
        --fg-link-visited: #721045;
        --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%233548cf'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
        --bg-button-active: #c4c4c4;
        --bg-button-inactive: #ccccdd;
        --fringe: #fdfdfc;
        // Syntax highlighting.
        --bracket: #000000; // fg
        --builtin: #721045; // fg
        --comment: #7f0000; // fg
        --constant: #531ab6; // fg
        --delimiter: #000000; // fg
        --doc-string: #304463; // fg
        --doc-markup: #7c318f; // fg
        --function-name: #77492f; // fg
        --keyword: #0000b0; // fg
        --number: #000000; // fg
        --operator: #000000; // fg
        --preprocessor: #894000; // fg
        --punctuation: #000000; // fg
        --regex-grouping-backslash: #8f0075; // fg
        --regex-grouping-construct: #531ab6; // fg
        --string: #00598b; // fg
        --type: #00603f; // fg
        --variable-name: #316000; // fg
        --warning: #6d5000; // fg
        --error: #a60000; // fg
        --identifier: #77492f; // fg
    }
}
@media print {
    :root {
        --bg-main: #ffffff;
        --bg-dim: #ffffff;
        --fg-main: #000000;
        --border: #888888;
        --fg-link: #444444;
        --fg-link-visited: #444444;
        --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%23444444'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
        --bg-button-active: #c4c4c4;
        --bg-button-inactive: #cccccc;
        --fringe: #ffffff;
        // Syntax highlighting.
        --bracket: #000000; // fg
        --builtin: #000000; // fg
        --comment: #444444; // fg
        --constant: #000000; // fg
        --delimiter: #000000; // fg
        --doc-string: #444444; // fg
        --doc-markup: #444444; // fg
        --function-name: #000000; // fg
        --keyword: #444444; // fg
        --number: #000000; // fg
        --operator: #000000; // fg
        --preprocessor: #444444; // fg
        --punctuation: #000000; // fg
        --regex-grouping-backslash: #444444; // fg
        --regex-grouping-construct: #222222; // fg
        --string: #000000; // fg
        --type: #444444; // fg
        --variable-name: #000000; // fg
        --warning: #000000; // fg
        --error: #000000; // fg
        --identifier: #000000; // fg
    }
}
