:root {
    // Dark-mode colors taken from Modus Themes
    // https://protesilaos.com/emacs/modus-themes
    --bg-main: #141617;
    --bg-dim: #121212;
    --fg-main: #ffffff;
    --border: #646464;
    --fg-link: #79a8ff;
    --fg-link-visited: #feacd0;
    --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%2379a8ff'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
    --bg-button-active: #535353;
    --bg-button-inactive: #1e1e1e;
    --fringe: #1e1e1e;
    // Syntax highlighting.
    --bracket: #ffffff; // fg
    --builtin: #f78fe7; // fg, bold
    --comment: #989898; // fg, slant
    --constant: #00bcff; // fg
    --delimiter: #ffffff; // fg
    --doc-string: #9ac8e0; // fg, slant
    --doc-markup: #caa6df; // fg, slant
    --function-name: #feacd0; // fg
    --keyword: #b6a0ff; // fg, bold
    --number: #ffffff; // fg
    --operator: #ffffff; // fg
    --preprocessor: #ff7f86; // fg
    --punctuation: #ffffff; // fg
    --regex-grouping-backslash: #feacd0; // fg, bold
    --regex-grouping-construct: #00c06f; // fg, bold
    --string: #79a8ff; // fg
    --type: #6ae4b9; // fg, bold
    --variable-name: #00d3d0; // fg
    --warning: #fec43f; // fg, bold
    --error: #ff5f59; // fg, bold
    --identifier: #d2b580; // fg
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-main: #fdfdfd;
        --bg-dim: #efefef;
        --fg-main: #000000;
        --border: #888899;
        --fg-link: #3548cf;
        --fg-link-visited: #721045;
        --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%233548cf'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
        --bg-button-active: #c4c4c4;
        --bg-button-inactive: #ccccdd;
        --fringe: #fdfdfc;
    }
}
@media print {
    :root {
        --bg-main: #ffffff;
        --bg-dim: #ffffff;
        --fg-main: #000000;
        --border: #888888;
        --fg-link: #444444;
        --fg-link-visited: #444444;
        --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%23444444'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
        --bg-button-active: #c4c4c4;
        --bg-button-inactive: #cccccc;
        --fringe: #ffffff;
    }
}
html {
    background: var(--fringe);
    color: var(--fg-main);
}
body {
    padding: 0;
    margin: 0 auto;
    max-width: 54.25em;
    display: flow-root;
}
header {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em;
    background: var(--bg-dim);
    font-weight: bold;
}
.tag {
    background: var(--bg-dim);
    display: inline-block;
    span {
        background: var(--fringe);
        border: 1px solid var(--border);
        display: inline-block;
    }
}
nav {
    min-height: 9em;
    width: 9em;
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    float: left;
    clear: left;
    background: var(--bg-dim);
    h1, h2, h3, h4, h5, h6 {
        font-variant: small-caps;
    }
    hr {
        color: var(--border);
        background: var(--bg-dim);
        border-color: var(--border);
        border-width: 1px 0px 0px 0px;
        width: calc(100% + 0.6em);
        margin-left: -0.3em;
        margin-right: -0.3em;
    }
    ul {
        list-style: none;
        padding: 0;
        a {
            color: var(--fg-main);
            background: var(--bg-button-inactive);
            text-decoration: none;
            text-align: center;
            border: 1px solid var(--border);
            border-radius: 0.125em;
            padding: 0.25em;
            margin: 0.25em;
            display: block;

            &:hover {
                text-decoration: underline;
                background: var(--bg-button-active);
            }
            &:visited {
                color: var(--fg-main);
            }
        }
        li {
            display: inline;
        }
    }
}
//main
main, div.content {
    color: var(--fg-main);
    background: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em auto;
    max-width: 42em;
    float: left;
    clear: right;
}
footer {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em 0 0.6em auto;
    clear: both;
    background: var(--bg-dim);
    max-width: 42em;
    display: flow-root;
}
p.date {
    display: block;
    float: left;
    padding-right: 1.25em;
}
p.author {
    display: block;
    float: right;
    padding-left: 1.25em;
}
a {
    color: var(--fg-link);
    &:visited {
        color: var(--fg-link-visited);
    }
    &:hover {
        text-decoration-line: none;
    }
}
a[href^=http]::before {
    content: var(--link-external-icon);
    position: relative;
    top: 0.1em;
}
div.figure, .org-svg {
    max-width: 100%;
}
.todo {
    color: red;
}
.done {
    color: green;
}
.WAITING {
    color: yellow;
}
.org-bold {
    font-weight: bold;
}
.org-bold-italic {
    font-weight: bold;
    font-style: italic;
}
.org-italic {
    font-style: italic;
}
.org-underline, .underline {
    text-decoration: underline;
}
pre {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: var(--bg-dim);
    overflow: auto;
}
pre.example {
    text-wrap: auto;
}
.org-bracket {
    color: var(--bracket);
}
.org-builtin {
    color: var(--builtin);
    font-weight: bold;
}
.org-comment {
    color: var(--comment);
    font-style: italic;
}
.org-comment-delimiter {
    color: var(--comment);
}
.org-constant {
    color: var(--constant);
}
.org-delimiter {
    color: var(--delimiter);
}
.org-doc {
    color: var(--doc-string);
    font-style: italic;
}
.org-doc-markup {
    color: var(--doc-markup);
    font-style: italic;
}
.org-function-name {
    color: var(--function-name);
}
.org-keyword {
    color: var(--keyword);
    font-weight: bold;
}
.org-negation-char {
    color: var(--error);
    font-weight: bold;
}
.org-number {
    color: var(--number);
}
.org-operator {
    color: var(--operator);
}
.org-preprocessor {
    color: var(--preprocessor);
}
.org-punctuation {
    color: var(--punctuation);
}
.org-regex-grouping-backslash {
    color: var(--regex-grouping-backslash);
    font-weight: bold;
}
.org-regex-grouping-construct {
    color: var(--regex-grouping-construct);
    font-weight: bold;
}
.org-string {
    color: var(--string);
}
.org-type {
    color: var(--type);
    font-weight: bold;
}
.org-variable-name {
    color: var(--variable-name);
}
.org-warning {
    color: var(--warning);
    font-weight: bold;
}
.org-error {
    color: var(--error);
    font-weight: bold;
}
.org-identifier {
    color: var(--identifier);
}
pre.src {
}
pre.verbatim {
    padding: 0.1em;
    margin: 0.1em;
    display: inline;
}
.linenr {
    background: var(--fringe);
}
blockquote {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: var(--bg-dim);
    &::before {
        content: "“";
        display: block;
        text-align: left;
    }
    &::after {
        content: "„";
        display: block;
        text-align: right;
    }
}
div.footnotes {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: var(--bg-dim);
    .icon {
        position: relative;
        top: 0.1em;
    }
}
