:root {
    // Dark-mode colors taken from Modus Themes
    // https://protesilaos.com/emacs/modus-themes
    --bg-main: #141617;
    --bg-dim: #121212;
    --fg-main: #ffffff;
    --border: #646464;
    --fg-link: #79a8ff;
    --fg-link-visited: #feacd0;
    --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%2379a8ff'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
    --bg-button-active: #535353;
    --bg-button-inactive: #1e1e1e;
    --fringe: #1e1e1e;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-main: #fdfdfd;
        --bg-dim: #efefef;
        --fg-main: #000000;
        --border: #888899;
        --fg-link: #3548cf;
        --fg-link-visited: #721045;
        --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%233548cf'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
        --bg-button-active: #c4c4c4;
        --bg-button-inactive: #ccccdd;
        --fringe: #fdfdfc;
    }
}
@media print {
    :root {
        --bg-main: #ffffff;
        --bg-dim: #ffffff;
        --fg-main: #000000;
        --border: #888888;
        --fg-link: #444444;
        --fg-link-visitied: #444444;
        --link-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='0.8em' fill='none' stroke='%23444444'><path d='M4 2H1V9H8V6M4 6 9 1M6 1H9V4'></path></svg>");
        --bg-button-active: #c4c4c4;
        --bg-button-inactive: #cccccc;
        --fringe: #ffffff;
    }
}
html {
    background: var(--fringe);
    color: var(--fg-main);
}
body {
    padding: 0;
    margin: 0 auto;
    max-width: 42em;
}
header, .title {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em;
    background: var(--bg-dim);
    font-weight: bold;
}
.tag {
    background: var(--bg-dim);
    border: 1px solid var(--border);
}
.todo {
    color: red;
}
.done {
    color: green;
}
.WAITING {
    color: yellow;
}
pre.example {
    border: 1px solid var(--border);
    text-wrap: auto;
}
div.footnotes {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: var(--bg-dim);
    .icon {
        position: relative;
        top: 0.1em;
    }
}
main {
    color: var(--fg-main);
    background: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 0.5em;
    max-width: 28.5em;
    padding: 0.6em;
    margin: 0.6em;
    float: right;
}
p.date {
    display: block;
    float: left;
    padding-right: 1.25em;
}
p.author {
    display: block;
    float: right;
    padding-left: 1.25em;
}
a {
    color: var(--fg-link);
    &:visited {
        color: var(--fg-link-visited);
    }
    &:hover {
        text-decoration-line: none;
    }
}
a[href^=http]:before {
    content: var(--link-external-icon);
    position: relative;
    top: 0.1em;
}
div.figure, .org-svg {
    max-width: 100%;
}
