@import './colors';
@import './syntax';

html {
    background: var(--fringe);
    color: var(--fg-main);
}
body {
    padding: 0;
    margin: 0 auto;
    max-width: 54.25em;
    display: flow-root;
}
p {
    font-size: 1rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}
[class^=outline-] {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid var(--border);
}
.outline-1, .outline-2 {
    margin-left: 0.1rem;
    padding-left: 0.5rem;
}
[class^=outline-text-] {
    border: none;
}
ol, ul, menu, dl {
    padding-left: 1.5rem;
}
header {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em;
    background: var(--bg-dim);
    font-weight: bold;
}
.tag {
    background: var(--bg-dim);
    display: inline-block;
    span {
        background: var(--fringe);
        border: 1px solid var(--border);
        display: inline-block;
    }
}
nav {
    min-height: 9em;
    width: 9em;
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    float: left;
    clear: left;
    background: var(--bg-dim);
    h1, h2, h3, h4, h5, h6 {
        font-variant: small-caps;
    }
    hr {
        color: var(--border);
        background: var(--bg-dim);
        border-color: var(--border);
        border-width: 1px 0px 0px 0px;
        width: calc(100% + 0.6em);
        margin-left: -0.3em;
        margin-right: -0.3em;
    }
    menu {
        list-style: none;
        padding: 0;
        a {
            color: var(--fg-main);
            background: var(--bg-button-inactive);
            text-decoration: none;
            text-align: center;
            border: 1px solid var(--border);
            border-radius: 0.125em;
            padding: 0.25em;
            margin: 0.25em;
            display: block;

            &:hover {
                text-decoration: underline;
                background: var(--bg-button-active);
            }
            &:visited {
                color: var(--fg-main);
            }
        }
        li {
            display: inline;
        }
    }
}
//main
main, #content {
    color: var(--fg-main);
    background: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em auto;
    max-width: 42em;
    float: left;
    clear: right;
    a, b, caption, dd, details, dfn, dt, em, figcaption, i, label, legend, li, mark, option, p, q, ruby, s, samp, small, span, strong, summary, td, textarea, th, time, u {
        white-space-collapse: preserve;
        overflow-wrap: normal;
        text-wrap-mode: wrap;
        word-break: normal;
    }
    blockquote, br, div, ol, ul, section, dl {
        white-space-collapse: collapse;
        overflow-wrap: normal;
        text-wrap-mode: wrap;
        word-break: normal;
    }
    pre {
        a, b, blockquote, caption, dd, details, dfn, dt, em, figcaption, i, label, legend, li, mark, option, p, q, ruby, s, samp, small, span, strong, summary, td, textarea, th, time, u, br, div, ol, ul, section, dl {
            white-space-collapse: preserve;
            text-wrap-mode: nowrap;
        }
    }
}
footer {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em 0 0.6em auto;
    clear: both;
    background: var(--bg-dim);
    max-width: 42em;
    display: flow-root;
}
p.date {
    display: block;
    float: left;
    padding-right: 1.25em;
}
p.author {
    display: block;
    float: right;
    padding-left: 1.25em;
}
a {
    color: var(--fg-link);
    &:visited {
        color: var(--fg-link-visited);
    }
    &:hover {
        text-decoration-line: none;
    }
}
a[href^=http]::before {
    content: var(--link-external-icon);
    position: relative;
    top: 0.1em;
}
div.figure, .org-svg {
    max-width: 100%;
}
.todo {
    color: red;
}
.done {
    color: green;
}
.WAITING {
    color: yellow;
}
.org-bold {
    font-weight: bold;
}
.org-bold-italic {
    font-weight: bold;
    font-style: italic;
}
.org-italic {
    font-style: italic;
}
u, .org-underline, .underline {
    text-decoration: underline;
}
pre {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: var(--bg-dim);
    overflow: auto;
}
pre.example {
    text-wrap: auto;
}
pre.verbatim {
    padding: 0.1em;
    margin: 0.1em;
    display: inline;
}
.linenr {
    background: var(--fringe);
}
blockquote {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: var(--bg-dim);
    &::before {
        content: "“";
        display: block;
        text-align: left;
    }
    &::after {
        content: "„";
        display: block;
        text-align: right;
    }
}
div.footnotes {
    border: 1px solid var(--border);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: var(--bg-dim);
    .icon {
        position: relative;
        top: 0.1em;
    }
}
